/*background colour*/
body {
    background-color: deepskyblue ;
}

/*qoute style*/
p {
    font-family: Arial;
    color: white;
    font-size: 15px;
    text-align: right;
    margin: 0 auto;
}

/*logo*/
header {
    width: 130px;
    font-family: Arial;
    color: white;
    font-size: 30px;
    border: 5px solid white;
    text-align: left;
}

/*text box on the left*/
.text1 {
    height: 560px;
    font-family: Arial;
    font-size: 16px;
    color: white;
    background-color: forestgreen;
    text-align: left;
    width: 300px;
    padding: 10px 10px 10px 10px;
    margin: 0px 10px 10px 10px;
    float: left;
}

/*heading*/
    .text1 p {
        text-align: left;
        font-size: 20px;
    }

/*text box on the right*/
.text2 {
    height: 560px;
    font-family: Arial;
    font-size: 16px;
    color: white;
    background-color: forestgreen;
    text-align: left;
    width: 300px;
    padding: 10px 10px 10px 10px;
    margin: 0px 10px 10px 100px;
    float: left;
}

    /*heading*/
    .text2 p {
        text-align: left;
        font-size: 20px;
    }

/*used to move socials to the bottom of the box*/
.about_prog {
    height: 500px;
}

/*midle box with the quiz*/
.quiz_grid {
    width: 600px;
    height: 500px;
    margin: 0px 0px 0px 110px;
    background-color: forestgreen;
    padding: 10px 50px 50px 50px;
    float: left;
}

    /*heading */
    .quiz_grid h1 {
        font-family: Arial;
        font-size: 60px;
        text-align: center;
        color: white;
    }

/*2 buttons*/
    #button_start, #button_again {
        background-color: deepskyblue;
        width: 250px;
        font-size: 20px;
        color: white;
        margin: 150px 40px 10px 170px;
        padding: 10px 10px;
     
    }

#score {
    font-family: Arial;
    color: white;
    text-align: center;
    font-size: 30px;
}

/*grid with questions and answers */
.quiz_grid #query {
    font-family: Arial;
    font-size: 30px;
    color: white;
    text-align: center;
}

.quiz_buttons {
    margin-top: 30px;
}

#button_0, #button_1, #button_2, #button_3 {
    background-color: deepskyblue;
    width: 250px;
    font-size: 20px;
    color: white;
    margin: 10px 40px 10px 8px;
    padding: 10px 10px;
}

/*colour change on hover*/
#button_0:hover, #button_1:hover, #button_2:hover, #button_3:hover {
    cursor: pointer;
    background-color: darkgrey;
}

/*counter for questions*/
#query_num {
    font-family: Arial;
    color: white;
    font-size: 18px;
}
